<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://mahmoodma.github.io/iOS/LINE/dl_file/tv.othman.line2.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://is4.mzstatic.com/image/thumb/Purple69/v4/8f/3f/6c/8f3f6c16-4f0d-9dfd-cf6e-34033ae67a4b/source/512x512bb.jpg</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://is4.mzstatic.com/image/thumb/Purple69/v4/8f/3f/6c/8f3f6c16-4f0d-9dfd-cf6e-34033ae67a4b/source/512x512bb.jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>tv.othman.line2</string>
                <key>bundle-version</key>
                <string>5.7.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>LINE 2</string>
                <key>title</key>
                <string>LINE 2 by AppleQ</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
